body {
	background: #CCCCBB;
	overflow: hidden;
}

h1, h2, #nav, #usr {
	display: none !important;
}

form {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

form fieldset {
	float: none !important;
	width: 100% !important;
	border-bottom: 1px solid #E7E7E3 !important;
	margin: 1em 0;
	padding: 0;
}

fieldset input {
	width: 100%;
}

form input.button {
	width: auto;
}

form label span {
	border: 1px solid #b4b5a3;
	background: #e6e6d7;
}

form .actions {
	border: none;
	padding: 0;
	margin: 0;
	height: 4em;
}

#notice {
	display: none;
}

#notice.success, #notice.error {
	display: block;
	margin: 1em 0 0 0 !important;
	padding: 0.2em 1em !important;
	border-bottom: none !important;
}