/** 
*	MEDIATHEK for Symphony 2.0
*
*	author:		Nils Hörrmann
*	contact:	post@nilshoerrmann.de
*	website:	www.nilshoerrmann.de
*	version:	1.0
*	date:		January 2009
*/


label.media {
	padding-right: 0 !important;
	margin-bottom: 0;
}

div.media {
	margin: 0 0 1.75em 0;
	border: 1px solid #999988;
	background: #CCCCBB;
	position: relative;
	display: none;
}

div.media div.actions {
	padding: 3px 0 4px 0;
	margin: 0;
	border-top: none;
	border-bottom: 1px solid #E7E7E3;
}

div.media div.actions a {
	float: left;
	padding: 4px 0 0 1em;
	background: #CCCCBB;
	color: #555544;
	position: relative;
	z-index: 100;
}

div.media div.actions p {
	padding: 0 1.4em 0 98px;
	margin: 0 77px 0 0;
	position: relative;
}

div.media div.actions p input {
	width: 100%;
	margin: 0;
	float: none;
	font-size: 109.09%;
	padding: 1px 0;
	position: relative;
}

div.media div.actions p a {
	background: url(search.png) right top no-repeat;
	right: 1em;
	top: 4px;
	position: absolute;
	text-indent: -1000em;
	overflow: hidden;
	width: 17px;
}

div.media div.actions p a.active {
	background: url(search-active.png) right top no-repeat;
}

div.media ul {
	clear: both;
}

div.media ul {
	background-color: #F5F5F3;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: auto;
 	max-height: 30em;
}

div.media li {
	border-bottom: 1px solid #E6E6E5;
	padding: 0 6em 0 1em;
	position: relative;
	cursor: move;
	overflow: hidden;
	height: auto;
}

div.media.open li.active {
	background: #5273C0 !important;
	border-color:#617DC5 !important;
}

div.media.open li.even {
	background: #fff;
}


div.media li.active {
	background: transparent !important;
}

div.media li.zebra  {
	background: #fff !important;
}

div.media li span {
	padding: 0.67em 0;
	display: block;
	border: none;
	background: transparent;
	margin: 0;
	text-align: left;
}

div.media.open li.active span {
	color: #fff;
}

div.media li a {
	cursor: pointer;
	position: absolute;
	top: 0.67em;
	right: 1em;
	padding: 0 0 0 17px;
	border: none;
	color: #5072BF;
	z-index: 1000;
	background: none;
}

div.media.open li.active a {
	color: #fff;
}

div.media li img {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	background: #fff;
	width: 65px;
	height: 65px;
	z-index: 2000;
	border: 1px solid #E6E6E5;
}

div.media.open li.active img {
	background: transparent;
	border: 1px solid #5c85ea;
}

div.drag {
	background: #232320;
	border: 0;
	position: absolute;
	color: #555544;
	padding: 0.67em 6em 0.67em 1em;
	cursor: move;
	text-decoration: none;
	z-index: 1000;
}

div.drag a, div.drag a:hover {
	text-decoration: none;
	color: #5072BF;
}

div.drag span {
	position: absolute;
	top: 0.67em;
	right: 1em;
}

div.media div.actions a.create {
	padding: 0;
	margin: 0.55em 1em;
	position: absolute;
	top: 1px;
	right: 0;
	overflow: hidden;
	text-indent: -1000em;
	width: 66px;
	height: 15px;
	text-decoration: none;
	border: none;
}

div.media div.actions a.create {
	background: #999988 url(create.png) 0 0 no-repeat;
}

div.media div.actions a.create.open {
	background: #81B934 url(create.png) 0 0 no-repeat;
}

div.media .mediasection {
	border: none;
	padding: 0 1em;
	margin: 0;
	background: url(loading.gif) 50% no-repeat;
}

div.media .mediasection iframe {
	width: 100%;
	border: none;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}




/*

div.media {
	margin-bottom: 1.75em;
	border: 1px solid #999988;
	background: #CCCCBB;
	position: relative;
}

div.media a {
	display: block;
	padding: 0.5em 1em;
	background: #CCCCBB;
	border-bottom: 1px solid #E7E7E3;
	color: #555544;
}


div.media a.create {
	padding: 0;
	margin: 0.55em 1em;
	position: absolute;
	top: 0;
	right: 56px;
	overflow: hidden;
	text-indent: -1000em;
	width: 66px;
	height: 15px;
	text-decoration: none;
	border: none;
}

div.media a.create {
	background: #999988 url(create.png) 0 0 no-repeat;
}

div.media.open a.create {
	background: #81B934 url(create.png) 0 0 no-repeat;
}

div.media a.search {
	padding: 0;
	margin: 0.55em 1em;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	text-indent: -1000em;
	width: 46px;
	height: 15px;
	text-decoration: none;
	border: none;
}

div.media a.search {
	background: #999988 url(search.png) 0 0 no-repeat;
}

label.media .mediasearch {
	border: none;
	padding: 0 1em;
	margin: 0;
}

label.media .mediasearch form {
	background: none;
	margin: 1em 0 0 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}


*/